<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Bird Branch</h1>
    <section>
        <label for="state-select">By state:</label>

        <select name="states" id="state-select">
            <%if (!filters.state){%>
                <option value="" selected>--Please choose an option--</option>
                <%} else {%>
                    <option value="">--Please choose an option</option>
                    <%}%>
                        <option value="AL" <%=filters.state==='AL' ? 'selected' : '' %>>Alabama</option>
                        <option value="AK" <%=filters.state==='AK' ? 'selected' : '' %>>Alaska</option>
                        <option value="AZ" <%=filters.state==='AZ' ? 'selected' : '' %>>Arizona</option>
                        <option value="AR" <%=filters.state==='AR' ? 'selected' : '' %>>Arkansas</option>
                        <option value="CA" <%=filters.state==='CA' ? 'selected' : '' %>>California</option>
                        <option value="CO" <%=filters.state==='CO' ? 'selected' : '' %>>Colorado</option>
                        <option value="CT" <%=filters.state==='CT' ? 'selected' : '' %>>Connecticut</option>
                        <option value="DE" <%=filters.state==='DE' ? 'selected' : '' %>>Delaware</option>
                        <option value="FL" <%=filters.state==='FL' ? 'selected' : '' %>>Florida</option>
                        <option value="GA" <%=filters.state==='GA' ? 'selected' : '' %>>Georgia</option>
                        <option value="HI" <%=filters.state==='HI' ? 'selected' : '' %>>Hawaii</option>
                        <option value="ID" <%=filters.state==='ID' ? 'selected' : '' %>>Idaho</option>
                        <option value="IL" <%=filters.state==='IL' ? 'selected' : '' %>>Illinois</option>
                        <option value="IN" <%=filters.state==='IN' ? 'selected' : '' %>>Indiana</option>
                        <option value="IA" <%=filters.state==='IA' ? 'selected' : '' %>>Iowa</option>
                        <option value="KS" <%=filters.state==='KS' ? 'selected' : '' %>>Kansas</option>
                        <option value="KY" <%=filters.state==='KY' ? 'selected' : '' %>>Kentucky</option>
                        <option value="LA" <%=filters.state==='LA' ? 'selected' : '' %>>Louisiana</option>
                        <option value="ME" <%=filters.state==='ME' ? 'selected' : '' %>>Maine</option>
                        <option value="MD" <%=filters.state==='MD' ? 'selected' : '' %>>Maryland</option>
                        <option value="MA" <%=filters.state==='MA' ? 'selected' : '' %>>Massachusetts</option>
                        <option value="MI" <%=filters.state==='MI' ? 'selected' : '' %>>Michigan</option>
                        <option value="MN" <%=filters.state==='MN' ? 'selected' : '' %>>Minnesota</option>
                        <option value="MS" <%=filters.state==='MS' ? 'selected' : '' %>>Mississippi</option>
                        <option value="MO" <%=filters.state==='MO' ? 'selected' : '' %>>Missouri</option>
                        <option value="MT" <%=filters.state==='MT' ? 'selected' : '' %>>Montana</option>
                        <option value="NE" <%=filters.state==='NE' ? 'selected' : '' %>>Nebraska</option>
                        <option value="NV" <%=filters.state==='NV' ? 'selected' : '' %>>Nevada</option>
                        <option value="NH" <%=filters.state==='NH' ? 'selected' : '' %>>New Hampshire</option>
                        <option value="NJ" <%=filters.state==='NJ' ? 'selected' : '' %>>New Jersey</option>
                        <option value="NM" <%=filters.state==='NM' ? 'selected' : '' %>>New Mexico</option>
                        <option value="NY" <%=filters.state==='NY' ? 'selected' : '' %>>New York</option>
                        <option value="NC" <%=filters.state==='NC' ? 'selected' : '' %>>North Carolina</option>
                        <option value="ND" <%=filters.state==='ND' ? 'selected' : '' %>>North Dakota</option>
                        <option value="OH" <%=filters.state==='OH' ? 'selected' : '' %>>Ohio</option>
                        <option value="OK" <%=filters.state==='OK' ? 'selected' : '' %>>Oklahoma</option>
                        <option value="OR" <%=filters.state==='OR' ? 'selected' : '' %>>Oregon</option>
                        <option value="PA" <%=filters.state==='PA' ? 'selected' : '' %>>Pennsylvania</option>
                        <option value="RI" <%=filters.state==='RI' ? 'selected' : '' %>>Rhode Island</option>
                        <option value="SC" <%=filters.state==='SC' ? 'selected' : '' %>>South Carolina</option>
                        <option value="SD" <%=filters.state==='SD' ? 'selected' : '' %>>South Dakota</option>
                        <option value="TN" <%=filters.state==='TN' ? 'selected' : '' %>>Tennessee</option>
                        <option value="TX" <%=filters.state==='TX' ? 'selected' : '' %>>Texas</option>
                        <option value="UT" <%=filters.state==='UT' ? 'selected' : '' %>>Utah</option>
                        <option value="VT" <%=filters.state==='VT' ? 'selected' : '' %>>Vermont</option>
                        <option value="VA" <%=filters.state==='VA' ? 'selected' : '' %>>Virginia</option>
                        <option value="WA" <%=filters.state==='WA' ? 'selected' : '' %>>Washington</option>
                        <option value="WV" <%=filters.state==='WV' ? 'selected' : '' %>>West Virginia</option>
                        <option value="WI" <%=filters.state==='WI' ? 'selected' : '' %>>Wisconsin</option>
                        <option value="WY" <%=filters.state==='WY' ? 'selected' : '' %>>Wyoming</option>
        </select>

        <label for="clade-select">By clade:</label>

        <select name="clades" id="clade-select">
            <%if (!filters.clade){%>
                <option value="" selected>--</option>
            <%} else {%>
                <option value="">--</option>
            <%}%>
            <option value="taxorder" <%=filters.cladeType==='taxorder' ? 'selected' : '' %>>Order</option>
            <option value="family" <%=filters.cladeType==='family' ? 'selected' : '' %>>Family</option>
            <option value="genus" <%=filters.cladeType==='genus' ? 'selected' : '' %>>Genus</option>
            <option value="species" <%=filters.cladeType==='species' ? 'selected' : '' %>>Species</option>
        </select>
        
        <input type="text" value="<%=filters.cladeInput ? filters.cladeInput : ''%>">

        <h4 id="run-query">Filter!</h4>
        
        <h3><%=count%> birds displayed:</h3>

    </section>
    
    <section>
        <span>Aves (all birds)</span>
        <ul>
            <%  Object.entries(cladisticBirdData).forEach(order => {  %>
                <li class="order">
                    <span>Order: <%=order[0]%></span>
                    <ul>
                    <% Object.entries(order[1]).forEach(family => {  %>
                        <li class="family">
                            <span>Family: <%=family[0]%></span>
                            <ul>
                            <% Object.entries(family[1]).forEach(genus => {%>
                                <li class="genus">
                                    <span>Genus: <%=genus[0]%></span>
                                    <ul>
                                    <% Object.entries(genus[1]).forEach(species => {%>
                                        <% species = species[1] %>
                                        <li class='species bird' data-id='<%=species._id%>'>
                                            <section><img src=<%=species.images[0]%>></section>
                                            <span class='name'>
                                                <%= species.commonName %>
                                            </span>
                                            <span>
                                                <%=`${species.order} ${species.family} ${species.genus}`%>
                                            </span>
                                            <a href="/sightings/<%=species._id%>">Sightings</a>
                                            <section>
                                                <%=species.infoSegments%>
                                            </section>
                                        </li>

                                    <%  })  %>
                                    </ul>

                                </li>
                           <% })  %>
                            </ul>
                        </li>
                    <%   })  %>
                    </ul>
                </li>
            <%  })   %>
        </ul>
    </section>

    <a href="/logout">Logout</a>

    <script src="/js/main.js" type="module"></script>
</body>

</html>