<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Sightings of <%=birdName%>
    </h1>
    <section>
        <ul>
            <% sightings.forEach( sighting=> { %>
                <li class='sighting' data-id='<%=sighting._id%>'>
                    <img src="<%=sighting.image%>">
                    <span>
                        <%= sighting.notes %>
                    </span>
                    <span>
                        <%= sighting.createdAt %>
                    </span>
                    <!-- <a href="/sightings/<%=sighting._id%>">Sightings</a>
                    <span class='del'> Delete </span> -->
                </li>
                <% }) %>
        </ul>
    </section>

    <form action="/sightings/submitSighting" enctype="multipart/form-data" method="POST">
        <label for="notes">Notes (optional)</label>
        <textarea id="notes" name="notes"></textarea>
        <label for="imgUpload" >Image (optional)</label>
        <input type="file" id="imgUpload" name="file">
        <button type="submit" value="Upload">Submit</button>
        <input type="hidden" value="<%=birdId%>" name="birdId">
    </form>


    <!-- <form action="/sightings/submitSightingOld" method="POST">
        <input type="text" placeholder="caption" name="caption">
        <input name="birdId" type="hidden" value="<%=birdId%>">
        <input type="submit">
    </form> -->

    <!-- <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit"> -->
    <!-- </form> -->

    <a href="/logout">Logout</a>

    <script src="/js/main.js"></script>
</body>

</html>